:root {
  --header-background-color: #3c3a39;
  --hero-backgroung-color: #1c1a19;
  --intro-background-color: #ff6b00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
}

header {
  background-color: var(--header-background-color);
  min-height: 10vh;
}

.hero-section {
  background-color: var(--hero-backgroung-color);
  min-height: 90vh;
}

@media (min-width: 375px) {
}
